@import 'libs/_bootstrap';
@import 'sections/_about';
@import 'sections/_content';
@import 'sections/_footer';
@import 'sections/_header';
@import 'sections/_home';
@import 'setup/_breakpoints';
@import 'setup/_mixins';
@import 'setup/_off-canvas';
@import 'setup/_vars';

.legend {
    .progress-bars {
        p {
            display: flex;
            align-items: center;

            &:before {
                content: '';
                width: 20px;
                height: 6px;
                margin-right: 5px;
                display: inline-block;
            }

            &.orange:before {
                background: #ff6c00;
            }

            &.green:before {
                background: #008000;
            }

            &.blue:before {
                background: #0000FF;
            }

            &.red:before {
                background: #FF0000;
            }

            &.grey:before {
                background: #808080;
            }

            &.dark-blue:before {
                background: #00008B;
            }

            &.red-dotted:before {
                background: none;
                border: 1px dotted red;
            }
        }
    }
}