@import 'libs/_bootstrap';
@import 'sections/_about';
@import 'sections/_content';
@import 'sections/_footer';
@import 'sections/_header';
@import 'sections/_home';
@import 'setup/_breakpoints';
@import 'setup/_mixins';
@import 'setup/_off-canvas';
@import 'setup/_vars';

.legend {


    .progress-bars {
        p {
            display: flex;
            align-items: center;

            &:before {
                content: '';
                width: 20px;
                height: 6px;
                margin-right: 5px;
                display: inline-block;
            }

            &.progress-bars__orange:before {
                background: #ff6c00;
            }

            &.progress-bars__green:before {
                background: #008000;
            }

            &.progress-bars__blue:before {
                background: #0000FF;
            }

            &.progress-bars__red:before {
                background: #FF0000;
            }

            &.progress-bars__grey:before {
                background: #808080;
            }

            &.progress-bars__dark-blue:before {
                background: #00008B;
            }

            &.progress-bars__red-dotted:before {
                background: none;
                border: 1px dotted red;
            }
        }
    }

    .unit-status {
        span {
            font-weight: bold;
        }

        .red {
            color: #FF0000;
        }

        .orange {
            color: #ff6c00;
        }

        .green {
            color: #008000;
        }
    }

    .traffic-lights {
        p {
            display: flex;
        }

        .dot {
            $size: 18px;
            height: $size;
            width: $size;
            border-radius: 50%;
            display: inline-block;
            margin-right: 6px;
        }

        .stop {
            background: -webkit-linear-gradient(#bc2222 0%, #850a09 100%);
            background: -o-linear-gradient(#bc2222 0%, #850a09 100%);
            background: linear-gradient(#bc2222 0%, #850a09 100%);
        }

        .ready {
            background: linear-gradient(#E0D300 0%, #ACA30C 100%);
        }

        .go {
            background: linear-gradient(#47C964 0%, #088223 100%);

        }

        .reg {
            color: #018ff1;

            strong {
                color: #101010;
            }
        }
    }

    img {
        height: 18px;
        width: 18px;
        margin-right: 6px;
    }
}
.dash-controls {
    background: #eaeaea;
    padding: 12px;
    border-radius: 6px;
    form {
        @include breakpoint(992) {
            display: flex;
        }

    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            margin-right: 6px;

        }
    }

}
$radius: 15px;
.nav-pills {
    &.nav-wizard {
        > li {
            position: relative;
            overflow: visible;
            border-right: 10px solid transparent;
            border-left: 15px solid transparent;
 
            + li {
                margin-left: 0;
            }
          
            &:first-child {
                border-left: 0;
 
                a {
                    border-radius:$radius 0 0 $radius;
                }
            }
 
            &:last-child {
                border-right: 0;
 
                a {
                    border-radius:0 $radius $radius 0;
                }
            }
 
            a {
                border-radius: 0;
                background-color: #eee;
                padding: 10px;
            }
 
            &:not(:last-child) a:after {
                position: absolute;
                content: "";
                top: 0px;
                right: -20px;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 20px 0 20px 20px;
                border-color: transparent transparent transparent #eee;
                z-index: 150;
            }
 
            &:not(:first-child) a:before {
                position: absolute;
                content: "";
                top: 0px;
                left: -20px;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 20px 0 20px 20px;
                border-color: #eee #eee #eee transparent;
                z-index: 150;
            }
 
            &:hover {
                &:not(:last-child) a:after {
                    border-color: transparent transparent transparent #aaa;
                }
 
                &:not(:first-child) a:before {
                    border-color: #aaa #aaa #aaa transparent;
                }
 
                a {
                    background-color: #aaa;
                    color: #fff;
                }
            }
 
            &.active {
                &:not(:last-child) a:after {
                    border-color: transparent transparent transparent #F59400;
                }
 
                &:not(:first-child) a:before {
                    border-color: #F59400 #F59400 #F59400 transparent;
                }
 
                a {
                    background-color: #F59400;
                }
            }
        }
    }
}