.navbar-header {
	float: none;
}
.enquire, .sign-up {
	margin-right: 6px;
}
.logo {
	display: inline-block;
	width: 38%;
}
.jumbotron {
	a {
		margin-right: 12px;
	}
}
#info-blocks {
	text-align: center;
	h2 {
		margin: 0;
	}
	p {
		font-size: 16px;
	}
	.glyphicon {
		font-size: 30px;
	}

}

body {
	background: #e1e1e1;
}
